apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# Preview環境用のパッチ適用
patches:
  - path: postgres-patch.yaml
    target:
      group: apps
      kind: StatefulSet
      name: gearpit-db
  - path: patch-deployment.yaml
    target:
      group: apps
      kind: Deployment
      name: gearpit-app