apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - postgres-ephemeral.yaml

commonLabels:
  variant: preview

secretGenerator:
  - name: gearpit-db-secret
    literals:
      - POSTGRES_USER=gearpit
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=gearpit
      - DB_USER=gearpit
      - DB_PASSWORD=password
      - DB_NAME=gearpit
      - DB_HOST=gearpit-db-preview
      - DB_PORT=5432
      - SSL_MODE=disable
      - PORT=8080

patches:
  # Gearpit App (Backend)
  - target:
      kind: Deployment
      name: gearpit-skeleton # Baseの名前
    patch: |-
      # 1. 既存の env を削除 (これが邪魔している)
      - op: remove
        path: /spec/template/spec/containers/0/env

      # 2. Secret から環境変数を一括注入
      - op: add
        path: /spec/template/spec/containers/0/envFrom
        value:
          - secretRef:
              name: gearpit-db-secret

  # Gearpit DB (Preview)
  - target:
      kind: Deployment
      name: gearpit-db-preview
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/envFrom
        value:
          - secretRef:
              name: gearpit-db-secret