apiVersion: apps/v1
kind: Deployment
metadata:
  name: gearpit-app
spec:
  template:
    spec:
      containers:
        - name: app
          env:
            - name: SEED_ON_STARTUP
              value: "true"
