apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: gearpit-db
spec:
  # PVC(volumeClaimTemplates)を削除し、emptyDir(一時領域)に差し替える
  volumeClaimTemplates: []
  template:
    spec:
      volumes:
        - name: data
          emptyDir: {}