apiVersion: apps/v1
kind: Deployment
metadata:
  name: gearpit-db-preview
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gearpit-db-preview
  template:
    metadata:
      labels:
        app: gearpit-db-preview
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432

---
apiVersion: v1
kind: Service
metadata:
  name: gearpit-db-preview
  ports:
    - port: 5432
  selector:
    app: gearpit-db-preview