apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

images:
- name: ghcr.io/nordiwnd/gearpit-web
  newName: ghcr.io/nordiwnd/gearpit-web
  newTag: 26a70e2fab4fb7521bb33fa46e23c5360831b381
