apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

images:
- name: ghcr.io/nordiwnd/gearpit-web
  newName: ghcr.io/nordiwnd/gearpit-web
  newTag: f118b6675a7e372bbf8ebbeaaeed8750897fe980
