apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- ingress.yaml
images:
- name: ghcr.io/nordiwnd/gearpit-app
  newName: ghcr.io/nordiwnd/gearpit-app
  newTag: e0d0d72
