name: Build App

on:
  push:
    branches: [ "main" ]
    paths: [ "app/**", ".github/workflows/build-app.yaml" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  # 画像名は全て小文字である必要があります
  IMAGE_NAME: ${{ github.repository }}-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ARM64ビルドのためのQEMUセットアップ
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Docker Buildxセットアップ
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=raw,value=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # ここで AMD64 と ARM64 の両方をビルド
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max